@import 'lv-web-ui/lib/style/main.css';

/* noticejs样式 */
.noticejs .close {
  cursor: pointer;
}
.noticejs-progressbar {
  display: none;
}

/* 主题色 */
.theme-c {
  color: #ff0b22;
}
.theme-b {
  color: #fff;
  background-color: #ff0b22;
}
.theme-bc {
  border-color: #ff0b22;
}
